.vid
{
    border: solid 20px lightgreen;
    box-shadow: 2px 2px 10px black,  -2px -2px 10px black;
    border-radius: 20px;;
}
.vid:hover
{
    box-shadow: 2px 2px 10px red,  -2px -2px 10px red;
}

  #myProgress {
    position: relative;
    width: 40%;
    height: 30px;
    background-color: #ddd;
  }
  
  #myBar {
    position: absolute;
    width: 0.1%;
    height: 100%;
    background-color: #4CAF50;
  }

  #label {
    text-align: center;
    line-height: 30px;
    color: white;
  }

  audio
{
    width:500px;
    border: 10px ridge rgb(162, 215, 228);
}